* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    text-align: center;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
}

.currency input {
    padding: 10px;
    border: 0;
    font-size: 16px;
}